<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flask with Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.21/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <p><div>${ message }</div></p>
    </div>

    <script>
        var app = Vue.createApp({
            delimiters: ['${', '}'], // 更改插值定界符为${}
            data() {
                return {
                    message: 'Hello from Vue3.js!'
                };
            }
        }).mount('#app');
    </script>
</body>
</html>
